/* -- ESTO NO ES PARTE DE LA ENTREGA DEL PROYECTO FINAL -- */
/* -- ES PARA LA ENTREGA DEL DESAFIO SASS II + SEO -- */

.btn {
    @extend %botonBase;
    background-color: rgb(178, 58, 58);
    color: $colorBotones;
}

.suscribirse {
    @extend .btn;
    background-color: orange;
}

.boton {
    @include botones($borderColor: red, $textColor: white, $bgColor: black);
}

.boton-primario {
    @include botones($borderColor: purple, $textColor: white, $bgColor: blue);
}

.boton-secundario {
    @include botones($borderColor: pink, $textColor: white, $bgColor: purple);
}