$buttons-color: rgb(204, 178, 63);

/* -- ESTO NO ES PARTE DE LA ENTREGA DEL PROYECTO FINAL -- */
/* -- ES PARA LA ENTREGA DEL DESAFIO SASS II + SEO -- */

$primary-color: #FFF;
$titles-color: rgb(138, 126, 56);
$hover-color: rgb(227, 227, 174);
$backgroundBotones: rgb(178, 58, 58);
$colorBotones: #fff;