/* -- ESTO NO ES PARTE DE LA ENTREGA DEL PROYECTO FINAL -- */
/* -- ES PARA LA ENTREGA DEL DESAFIO SASS II + SEO -- */

%botonBase {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}