@import "./_colors";

.navbar {
    background-color: black;
    height: 80px;

    .navbar-nav {
        margin-left: 20px;
    }
    
    .nav-link {
        color: $titles-color;
        z-index: 2;

        &:hover {
            color: $hover-color;
        }
    }

    .logo-navbar {
        width: 30px;
        margin-left: 20px;
    }
    
    .navbar-toggler {
        margin-right: 20px;
    }
    
    #navbarNavAltMarkup {
        z-index: 2;
    }


}

