/* -- ESTO NO ES PARTE DE LA ENTREGA DEL PROYECTO FINAL -- */
/* -- ES PARA LA ENTREGA DEL DESAFIO SASS II + SEO -- */

@mixin botones($borderColor, $textColor, $bgColor) {
    padding: 10px;
    border-bottom: 3px solid $borderColor;
    border-radius: 5px;
    color: $textColor;
    background-color: $bgColor;
}