.main {
  background-image: url(../assets/home_bg_1.jpg);
  background-color: #000;
  background-size: cover;
}

.navbar {
  background-color: black;
  height: 80px;
}
.navbar .navbar-nav {
  margin-left: 20px;
}
.navbar .nav-link {
  color: rgb(138, 126, 56);
  z-index: 2;
}
.navbar .nav-link:hover {
  color: rgb(227, 227, 174);
}
.navbar .logo-navbar {
  width: 30px;
  margin-left: 20px;
}
.navbar .navbar-toggler {
  margin-right: 20px;
}
.navbar #navbarNavAltMarkup {
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: black;
  text-align: center;
  width: 100%;
  bottom: 0;
}
.footer .footer-icon {
  width: 30px;
}
.footer .logo-footer {
  width: 30px;
  margin-left: 20px;
}

.btn, .suscribirse {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn, .suscribirse {
  background-color: rgb(178, 58, 58);
  color: #fff;
}

.suscribirse {
  background-color: orange;
}

.boton {
  padding: 10px;
  border-bottom: 3px solid red;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.boton-primario {
  padding: 10px;
  border-bottom: 3px solid purple;
  border-radius: 5px;
  color: white;
  background-color: blue;
}

.boton-secundario {
  padding: 10px;
  border-bottom: 3px solid pink;
  border-radius: 5px;
  color: white;
  background-color: purple;
}

.img-thumbnail {
  background-color: transparent;
  border: none;
}

.img-index {
  background-color: transparent;
  width: 300px;
}

.container-fluid {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid .titles {
  color: rgb(138, 126, 56);
}
.container-fluid .title-img {
  color: rgb(138, 126, 56);
}
.container-fluid b {
  color: rgb(138, 126, 56);
}

@media only screen and (min-width: 576px) {
  .title-img {
    color: rgb(138, 126, 56);
    margin-top: none;
  }
}
@media only screen and (min-width: 768px) {
  .title-img {
    color: rgb(138, 126, 56);
  }
  .img-index {
    width: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .title-img {
    text-align: left;
    color: rgb(138, 126, 56);
  }
  .img-index {
    width: 500px;
  }
  .custom-txt {
    text-align: left;
  }
}
/* -- AMENIDADES -- */
.bs-amenidades-items {
  width: 200px;
  background-color: black;
}

.banner-amenidades {
  height: 400px;
}

.global__line {
  background-color: #FFF;
  height: 2px;
}

/*     ---- MEDIA QUERIES AMENIDADES ----   */
@media only screen and (min-width: 992px) {
  .bs-amenidades-options {
    position: relative;
    color: #FFF;
    top: -100px;
    padding-top: 30px;
  }
  .bs-amenidades-options .bs-items-cont {
    margin: 0;
  }
  .bs-amenidades-options .bs-crcl {
    padding: 0;
  }
  .bs-amenidades-options .bs-item {
    height: 9rem;
    width: 9rem;
    border-radius: 100px;
  }
  .bs-amenidades-options .bs-items-txt {
    line-height: 6.5em;
  }
}
@media only screen and (min-width: 1200px) {
  .bs-items-cont {
    margin: 0;
  }
  .bs-item {
    height: 9rem;
    width: 9rem;
    border-radius: 100px;
  }
  .bs-crcl {
    padding: 0;
  }
  .bs-items-txt {
    line-height: 6.5em;
  }
}
/* -- AQUI VAN ESTILOS DEPARTAMENTOS.HTML -- */
.btn, .suscribirse {
  background-color: rgb(204, 178, 63);
  border: none;
  pointer-events: none;
}/*# sourceMappingURL=styles.css.map */