@import "./partials/_main",  "./partials/_header", "./partials/_footer", "./partials/_colors", "./partials/_extends", "./partials/_mixins", "./partials/_buttons";



.img-thumbnail {
    background-color: transparent;
    border: none;
}

.img-index {
    background-color: transparent;
    width: 300px;
}

.container-fluid {
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .titles {
        color: $titles-color;
    }

    .title-img {
        color: $titles-color;
    }

    b {
        color: $titles-color;
    }
}


@media only screen and (min-width: 576px) {

    .title-img {
        color: $titles-color;
        margin-top: none;
    }
}


@media only screen and (min-width: 768px) {

    .title-img {
        color: $titles-color;
    }

    .img-index {
        width: 400px;
    }
}

@media only screen and (min-width: 992px) {

    .title-img {
        text-align: left;
        color: $titles-color;
    }

    .img-index {
        width: 500px;
    }

    .custom-txt {
        text-align: left;
    }

}

/* -- AMENIDADES -- */

 .bs-amenidades-items {
    width: 200px;
    background-color: black;
}

.banner-amenidades {
    height: 400px;
}

.global__line {
    background-color: $primary-color;
    height: 2px;
}

/*     ---- MEDIA QUERIES AMENIDADES ----   */

@media only screen and (min-width: 992px) {


.bs-amenidades-options {
    position: relative;
    color: $primary-color;
    top: -100px;
    padding-top: 30px;
    .bs-items-cont {
        margin: 0;
    }

    .bs-crcl {
        padding: 0;
    }

    .bs-item {
        height: 9rem;
        width: 9rem;
        border-radius: 100px;
    }

    .bs-items-txt {
        line-height: 6.5em;
    }
    
}

}

@media only screen and (min-width: 1200px) {

    .bs-items-cont {
        margin: 0;
    }

    .bs-item {
        height: 9rem;
        width: 9rem;
        border-radius: 100px;
    }

    .bs-crcl {
        padding: 0;
    }

    .bs-items-txt {
        line-height: 6.5em;
    }
}

/* -- AQUI VAN ESTILOS DEPARTAMENTOS.HTML -- */

.btn {
    background-color: $buttons-color;
    border: none;
    pointer-events:none
}
