@import "./partials/_colors", "./partials/_main", "./partials/_header", "./partials/_footer";

/* --- INDEX STYLES --- */

.img-thumbnail {
    background-color: transparent;
    border: none;
}

.img-index {
    background-color: transparent;
    width: 300px;

    @media (min-width: 768px) {
        width: 400px;
    }

    @media (min-width: 992px) {
        width: 500px;
    }
}

.container-fluid {
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .titles {
        color: $titles-color;
    }

    .title-img {
        color: $titles-color;

        @media (min-width: 576px) {
            color: $titles-color;
            margin-top: 0;    
        }

        @media (min-width: 768px) {
            color: $titles-color;
        }

        @media (min-width: 992px) {
            text-align: left;
            color: $titles-color;    
        }
    }
}

.titles-color {
    color: $titles-color;
}

.custom-txt {

    @media (min-width: 992px) {
    text-align: left;
    }
}

/* -- AMENIDADES STYLES -- */

.bs-amenidades-options {

    @media (min-width: 992px) {
        position: relative;
        color: $primary-color;
        top: -100px;
        padding-top: 30px;
    }
}

.bs-items-cont {
    @media (min-width: 992px) {
        margin: 0;
    }
}

.bs-crcl {
    @media (min-width: 992px) {
        padding-right: 0px;
    }
}

.bs-item {
    @media (min-width: 992px) {
        height: 9rem;
        width: 9rem;
        border-radius: 100px;
    }
}

.bs-items-txt {
    @media (min-width: 992px) {
        line-height: 6.5em;
    }
}

.bs-amenidades-items {
    width: 200px;
    background-color: black;
}

.banner-amenidades {
    height: 400px;
}

.global__line {
    background-color: $primary-color;
    height: 2px;
}

.bs-items-cont {
    @media (min-width: 1200px) {
        margin: 0;
    }
}

.bs-item {
    @media (min-width: 1200px) {
        height: 9rem;
        width: 9rem;
        border-radius: 100px;
    }
}

.bs-crcl {
    @media (min-width: 1200px) {
        padding: 0;
    }
}

.bs-items-txt {
    @media (min-width: 1200px) {
        line-height: 6.5em;
    }
}

/* -- DEPARTAMENTOS STYLES -- */

.btn {
    background-color: $buttons-color;
    border: none;
    pointer-events:none
}
